# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

Kumar
cybernishanth@gmail.com
Kumar@12345

https://www.getresponse.com/security

Write the ER Diagram for Hospital database by keeping by Hospital , Doctor , Patient and Rooms as an Entity

Write the ER Diagram for Library Management database by assuming the entities

Write the ER Diagram for Movie database by assuming the entities

Write the ER Diagram for Restaurant Management database by assuming the entities


